.comment {
  display: flex;
  gap: 1rem;
}

.container {
  flex: 1;
}

.container > div {
  background-color: var(--element-background-color);
  border-radius: 8px;
  padding: 1rem;
}

.container > div > header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container > div > header > div {
  display: flex;
  flex-direction: column;
}

.container > div > header > div > strong {
  font-size: 0.875rem;
  line-height: 1.6;
}

.container > div > header > div > time {
  font-size: 0.75rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--lo-contrast);
}

.container > div > header > button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: 0;
  color: var(--lo-contrast);
  cursor: pointer;

  width: 2rem;
  height: 2rem;
  border-radius: 8px;

  outline: 2px solid transparent;

  transition: outline-color 150ms ease-out, color 150ms ease-out, background-color 150ms ease-out;
}

.container > div > header > button:hover,
.container > div > header > button:focus {
  background-color: var(--danger-hover-background-color);
  color: var(--danger-hover-color);
}

.container > div > header > button:focus-visible {
  outline-color: var(--danger-outline-color);
}

.container > div > p {
  margin: 1rem 0 0;
  color: var(--hi-contrast);
  font-weight: 400;
}

.container > footer {
  padding: 1rem 0;
}

.container > footer > button {
  display: flex;
  align-items: center;

  background: transparent;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 8px;

  color: var(--lo-contrast);
  cursor: pointer;

  outline: 2px solid transparent;

  transition: color 150ms ease-out, outline-color 150ms ease-out, background-color 150ms ease-out;
}

.container > footer > button:hover,
.container > footer > button:focus {
  color: var(--brand-hover-color);
  background-color: var(--brand-hover-background-color);
}

.container > footer > button:focus-visible {
  outline-color: var(--brand-outline-color);
}

.container > footer > button > svg {
  margin-right: 0.5rem;
}

.container > footer > button > span::before {
  content: "\2022";
  padding: 0 0.25rem;
}
