.post {
  background-color: var(--subtle-background-color);
  border-radius: 8px;
  padding: 2.5rem;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author > div {
  display: flex;
  flex-direction: column;
}

.author > div > strong {
  line-height: 1.6;
  color: var(--hi-contrast);
}

.author > div > span {
  font-size: 0.875rem;
  color: var(--lo-contrast);
  font-weight: 400;
}

.post > header > time {
  font-size: 0.875rem;
  color: var(--lo-contrast);
  font-weight: 400;
}

.content {
  color: var(--hi-contrast);
  line-height: 1.6;
  margin-top: 1.5rem;
}

.content > p {
  font-weight: 400;
  margin: 1rem 0 0;
}

.content a {
  font-weight: bold;
  color: var(--brand-color);
  text-decoration: none;

  padding: 2px 4px;
  border-radius: 4px;

  outline: 2px solid transparent;

  transition: ouline-color 150ms ease-out, color 150ms ease-out;
}

.content a:hover,
.content a:focus {
  color: var(--brand-hover-color);
}

.content a:focus-visible {
  outline-color: var(--brand-outline-color);
}

.post > form {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--border-color);
}

.post > form:focus-within > footer {
  visibility: visible;
  max-height: none;
}

.post > form > strong {
  line-height: 1.6;
  color: var(--hi-contrast);
}

.post > form > textarea {
  width: 100%;
  background-color: var(--background-color);
  border: 0;
  min-height: 6rem;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--hi-contrast);
  line-height: 1.4;
  margin-top: 1rem;
  font-weight: 400;
  resize: none;
  border: 1px solid var(--border-color);

  outline: 2px solid transparent;

  transition: outline-color 150ms ease-out;
}

.post > form > textarea:focus {
  outline-color: var(--brand-outline-color);
}

.post > form > textarea::placeholder {
  color: var(--lo-contrast);
}

.post > form > footer {
  display: flex;
  justify-content: flex-end;
}

.post > form > footer > button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;

  border-radius: 8px;
  border: 0;
  background-color: var(--brand-color);
  color: var(--white);

  font-weight: bold;
  cursor: pointer;

  outline: 2px solid transparent;
  outline-offset: 4px;

  transition: background-color 150ms ease-out, outline-color 150ms ease-out;
}

.post > form > footer > button[type="submit"]:hover,
.post > form > footer > button[type="submit"]:focus {
  background-color: var(--brand-hover-color);
}

.post > form > footer > button[type="submit"]:focus-visible {
  outline-color: var(--brand-outline-color);
}

.post > form > footer > button[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: var(--brand-hover-color);
}

.comments {
  margin-top: 2rem;
}
