.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author > div {
  display: flex;
  flex-direction: column;
}

.author > div > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.author > div > span {
  font-size: 0.875rem;
  color: var(--gray-400);
  font-weight: 400;
}

.post > header > time {
  font-size: 0.875rem;
  color: var(--gray-400);
  font-weight: 400;
}

.content {
  color: var(--gray-300);
  line-height: 1.6;
  margin-top: 1.5rem;
}

.content > p {
  font-weight: 400;
  margin: 1rem 0 0;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;

  padding: 2px 4px;
  border-radius: 4px;

  outline: 2px solid transparent;

  transition: ouline-color 150ms ease-out, color 150ms ease-out;
}

.content a:hover {
  color: var(--green-400);
}

.content a:focus-visible {
  color: var(--green-400);
  outline-color: var(--green-400);
}

.post > form {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.post > form:focus-within > footer {
  visibility: visible;
  max-height: none;
}

.post > form > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.post > form > textarea {
  width: 100%;
  background-color: var(--gray-900);
  border: 0;
  min-height: 6rem;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
  font-weight: 400;
  resize: none;

  outline: 2px solid transparent;

  transition: outline-color 150ms ease-out;
}

.post > form > textarea:focus {
  outline-color: var(--green-500);
}

.post > form > textarea::placeholder {
  color: var(--gray-400);
}

.post > form > footer {
  visibility: hidden;
  max-height: 0;
}

.post > form > footer > button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;

  border-radius: 8px;
  border: 0;
  background-color: var(--green-500);
  color: var(--white);

  font-weight: bold;
  cursor: pointer;

  outline: 2px solid transparent;
  outline-offset: 4px;

  transition: background-color 150ms ease-out, outline-color 150ms ease-out;
}

.post > form > footer > button[type="submit"]:hover {
  background-color: var(--green-400);
}

.post > form > footer > button[type="submit"]:focus-visible {
  outline-color: var(--green-400);
  background-color: var(--green-400);
}

.comments {
  margin-top: 2rem;
}
